.order-enter{
  transition 0.5s;
  transform: translateX(-120%);
  max-height 0;
  padding: 2rem 0 !important
  &.order-enter-active{
    max-height 60px;
    transform: translateX(0);
  }
}

.order-exit{
  background thisle;
  transition 0.5s;
  padding: 0 !important
  transform: translateX(0);
  &.order-exit-active{
    background purple;
    transform: translateX(-120%);
  }
}



